<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <!-- Fichier CSS -->
  </head>
  <body>
    <div id="alert-container">
      <h1>Bienvenue sur le système de gestion de cartes RFID</h1>
      <p>Utilisez ce système pour effectuer des transactions de débit.</p>

      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/transactions">Effectuer une Transaction</a></li>
        </ul>
      </nav>
    </div>
    <script src="/javascript/alert.js"></script>
  </body>
</html>
